//
//about
//

#main

	&.about

		.big-outer-logo
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: url('../images/disturbe-big.png') no-repeat center
			background-size: 90%
			z-index: 200

.left-side
	
	.content

		.small-tagline-about
			position: absolute
			top: 70%
			right: 65px
			margin-left: 20px
			color: #fff
			text-align: right
			font-size: 16px
			font-weight: 300

			p
				span
					display: block

			.black-line
				height: 1px
				width: 300px
				background: #000
				display: block
				margin-top: 12px
				float: right
				margin-right: 60px


.right-side

	&.about

		.content

			.skew-div
				background: #ed0118
				left: 29px

				&:before
					background: none

				.main-tagline
					position: absolute
					top: 10%
					margin-left: 20px
					color: #fff
					font-size: 16px
					font-weight: 300

					.black-line
						height: 1px
						width: 300px
						background: #000
						display: block
						margin-bottom: 12px

					h3
						font-size: 16px
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif

					.wraper-sign
						margin-top: 30px
						&:after
							content: ""
							position: absolute
							width: 7px
							height: 257px
							right: -10px
							top: 210px
							background: url(../images/name-separator.png) no-repeat

						.qoute-jury

							+transform( skew(20deg))
							font-style: italic
							text-align: right

							p
								font-size: 30px
								line-height: 32px
								font-weight: 300
								width: 255px
								padding-top: 10px 
								padding-right: 20px
								display: inline-block
								border-top: 1px solid #000

						.name-jury
							position: absolute
							right: -200px
							padding-bottom: 10px
							border-bottom: 1px solid #000

							span
								font-size: 16px
								color: #000
								font-weight: 300

		.link-to
			position: absolute
			bottom: 17%
			right: 13%
			display: block
			z-index: 500

			a
				font-size: 16px
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
				color: #fff
				text-transform: uppercase
				text-decoration: underline

//mobile 
.mobile-page-about
	background: url('../images/curve.png') repeat #3d3b34
	border: 18px solid #f3ff02
	width: 100%
	height: 100%
	position: absolute
	padding: 18px


.mobile-skew-about
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ed0118

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		.link-to
			a
				font-size: 24px
				color: #fff
				text-transform: uppercase
				text-decoration: underline
				font-weight: 300














