//
//jury
//

.left-side
	
	&.awwards

		.content
			position: absolute
			height: 100%
			width: 100%
			
			.skew-div
				width: 350px
				height: 300px
				top: 50%
				left: 50%
				margin-top: -150px
				margin-left: -150px
				position: absolute
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
				font-weight: 300

				h3
					font-size: 40px
					color: #fff
					font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
					font-weight: 300

					span
						display: block

				p
					color: #fff
					font-size: 12px
					line-height: 20px
					span
						display: block






.right-side

	&.awwards

		.content

			.skew-div
				background: #01ffde

				.event-detail
					position: absolute
					top: 25%
					margin-left: 10px
					color: #000
					font-size: 16px

					.wraper-detail
						margin-bottom: 45px

						h3
							font-size: 13px
							font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
							color: #fff
							font-weight: bold
							text-transform: uppercase

						ul
							padding: 0
							position: relative
							left: -85px

							li
								list-style: none
								font-weight: bold
								font-size: 13px
								width: 110%
								margin-bottom: 8px

								.left-tagline
									display: inline-block
									vertical-align: top
									color: #fff
									text-transform: uppercase
									width: 60px
									text-align: right

								.right-tagline
									display: inline-block
									vertical-align: top
									margin-left: 22px
						&.bottom
							margin-bottom: 25px

							&-list

								ul
									li
										margin-bottom: 3px
					.wraper-sign
						margin-top: 30px
						&:after
							content: ""
							position: absolute
							width: 7px
							height: 257px
							right: -10px
							top: 210px
							background: url(../images/name-separator.png) no-repeat

						.qoute-jury

							+transform( skew(20deg))
							font-style: italic
							text-align: right

							p
								font-size: 30px
								line-height: 32px
								font-weight: 300
								width: 255px
								padding-top: 10px 
								padding-right: 20px
								display: inline-block
								border-top: 1px solid #000

						.name-jury
							position: absolute
							right: -200px
							padding-bottom: 10px
							border-bottom: 1px solid #000

							span
								font-size: 16px
								color: #000
								font-weight: 300

//mobile 
.mobile-page-awwards
	background: #090e3f
	border: 18px solid #deff00
	width: 100%
	height: 100%
	position: absolute
	padding: 18px


.mobile-skew-awwards
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #01ffde

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 20px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300


	.content-inner
		.front
			display: inline-block
			color: #fff
			display: block

		hr
			margin: 2px 0
















