//
//chairman page
//
.left-side-gallery
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ff00d8
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.title-page
				position: absolute
				right: 15px
				top: 30%
				height: 100px
				margin-top: -100px
				+transform( skew(20deg))


				h3
					color: #fff
					font-size: 60px
					font-weight: 300
					font-style: italic
					margin-bottom: 0
					margin-top: 0
					text-align: right

.right-side-gallery
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 30%

		.gallery-detail
			position: absolute
			left: -340px

			.lSSlideWrapper
				width: 607px

				.lightSlider
					

					img
						width: 100%

//mobile 
.mobile-page-gallery
	background: #1300ff
	border: 18px solid #282828
	width: 100%
	height: 100%
	position: absolute
	padding: 18px


.mobile-skew-gallery
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ff00da

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		.sign-inner
			font-size: 12px
			width: 200px
			height: 61px
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			color: #fff
			font-weight: 300
			background: url('../images/sign-bg.png') no-repeat right bottom
			background-size: cover
			position: absolute
			left: 100px
			left: 70px
			bottom: -30px

			p
				position: absolute
				right: -13px
				bottom: 6px

			span
				display: block
				font-size: 12px













		



