//
//header
//
.area-header
	position: absolute
	top: 15px
	left: 20px

	.menu
		position: absolute
		left: 100px
		z-index: 800
	
	.logo-sma
		width: 80px
		height: 55px
		position: absolute
		background: url('../images/sma-logo.png') no-repeat
		text-indent: -9999px
		background-size: cover
		z-index: 800
