//
//jury
//

.left-side

	.content

		.main-jury-image

			.jury-image
				width: 544px
				height: 645px
				position: absolute
				background: url('../images/juri-img.png') no-repeat
				background-size: contain
				bottom: 0
				right: -40px
				z-index: 10


.right-side

	&.jury
	

		.content

			.skew-div
				background: #c600ff

				.main-tagline
					position: absolute
					top: 30%
					margin-left: 20px
					color: #000
					font-size: 16px

					h3
						font-size: 24px
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif

					.wraper-sign
						margin-top: 30px
						&:after
							content: ""
							position: absolute
							width: 7px
							height: 257px
							right: -10px
							top: 210px
							background: url(../images/name-separator.png) no-repeat

						.qoute-jury

							+transform( skew(20deg))
							font-style: italic
							text-align: right

							p
								font-size: 30px
								line-height: 32px
								font-weight: 300
								width: 255px
								padding-top: 10px 
								padding-right: 20px
								display: inline-block
								border-top: 1px solid #000

						.name-jury
							position: absolute
							right: -200px
							padding-bottom: 10px
							border-bottom: 1px solid #000

							span
								font-size: 16px
								color: #000
								font-weight: 300

//mobile 
.mobile-page-jury
	background: #00ffd2
	border: 18px solid #00c7d9
	width: 100%
	height: 100%
	position: absolute
	padding: 18px


.mobile-skew-jury
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #c600ff

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		z-index: 350
		position: relative

		.wraper-jury-content
			h3
				color: #000
				font-size: 30px
				font-weight: 300
				font-style: italic
				margin-bottom: 0
				margin-top: 0
				text-align: left
				margin-bottom: 10px
				margin-top: 0px

			p
				font-size: 12px
				color: #000
				font-weight: 300

	.image-mobile-jury
		background: url('../images/jury-image-mobile.png') no-repeat
		height: 275px
		width: 300px
		background-size: cover
		position: absolute
		bottom: 0
		right: 0
		text-indent: -9999px
		z-index: 300













