#body-nav
	position: absolute
	left: -70%
	width: 60%
	height: 100%
	z-index: 600
	.nav-menu
		position: absolute
		width: 100%
		height: 100%
		background: rgba(39,39,39, 0.9)
		z-index: 600
		+transform( skew(-20deg))

		.wraper-content-menu
			+transform( skew(20deg))
			left: 250px
			top: 100px
			position: absolute
			width: 400px
			height: 540px


			ul
				li
					margin-bottom: 5px
					a
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						font-size: 35px
						color: #fff
						text-decoration: none
						font-weight: 600

					ul
						padding: 10px 0 10px 40px
						li
							a
								font-size: 20px
								margin-bottom: 10px