//
//sponsor page
//
.left-side-sponsor
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ffff03
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.title-page
				position: absolute
				left: 15px
				top: 40%
				height: 100px
				margin-top: -100px
				+transform( skew(20deg))


				h3
					color: #000
					font-size: 60px
					font-weight: 300
					font-style: italic
					margin-bottom: 0
					margin-top: 0
					text-align: left

.right-side-sponsor
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 40%

		.chairman-tagline
			color: #fff
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			font-weight: 300
			font-size: 16px
			margin-left: 40px

			span
				display: block

//mobile 
.mobile-page-sponsor
	background: #202020
	border: 18px solid #00fff6
	width: 100%
	height: 100%
	position: absolute
	padding: 18px


.mobile-skew-sponsor
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ffff03

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300












		
			



